@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657638957566') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaiguan:before {
  content: "\e621";
}

.icon-gongyezujian-kaiguan:before {
  content: "\eb98";
}

.icon-kaiguan_o:before {
  content: "\eb7a";
}

