.head{
    height:83px;
    border-bottom: 2px solid red;
}
.head img{
    margin-top: 16px;
    width:173px;
    height:56px;
}
.main{
    margin-top: 17px;
    height: 524px;
    border: 2px solid #ccc;
}
.main-top{
    height: 45px;
    line-height: 45px;
    background-color: #ececec
}
.main-top h3{
    float: left;
    margin-left: 10px;
    font-size:18px;
    color:#333333;
}
.main-top p{
    float: right;
    margin-right: 10px;
    font-size:14px;
    color:#333333;
}
.main-top a{
    color:red;
}
.main-bottom{
    margin: 52px auto;
    width:700px;
    height:372px;
}
.main-bottom li{
    margin-top: 18px;
}
.main-bottom ul li span:nth-child(1){
    display: inline-block;
    width: 96px;
    text-align: right;
    color: #4d4d4d;
    font-size: 14px;
}
.main-bottom input{
    width:243px; 
    height:35px;
    border: 2px solid #ccc;
}
.main-bottom ul li span:last-child{
    margin-left: 11px;
    color: red;
    font-size: 12px;
}
.main-bottom ul li span:last-child::before{
    display: inline-block;
    content: '';
    left: 0;
    margin-right: 5px;
    width: 21px;
    height: 21px;
    background-image: url(../images/错误.png);
    vertical-align: middle;
}
.main-bottom ul li:nth-child(4){
    margin-top: 10px;
    padding-left: 120px;
}
.main-bottom ul li:nth-child(4) span:nth-child(1){
    margin-right: 10px;
    color: #b2b2b2;
    font-size: 12px;
    
}
.main-bottom ul li:nth-child(4) span:nth-child(2){
    display: inline-block;
    margin-right: 2px;
    width:35px;
    height:13px;
    line-height: 13px;
    text-align: center;
    background-color: red;
    color: #fff;
    font-size: 12px;
}
.main-bottom ul li:nth-child(4) span:nth-child(3){
    display: inline-block;
    margin-right: 2px;
    width:35px;
    height:13px;
    line-height: 13px;
    text-align: center;
    background-color: #40b83f;
    color: #fff;
    font-size: 12px;
}
.main-bottom ul li:nth-child(4) span:nth-child(4){
    display: inline-block;
    margin-left: 0;
    
    width:35px;
    height:13px;
    line-height: 13px;
    text-align: center;
    background-color: #f79100;
    color: #fff;
    font-size: 12px;
}
.main-bottom ul li:nth-child(4) span:nth-child(4)::before{
    content: '';
    background-image: none;
    width: 0;
    height: 0;
}
.main-bottom ul li:nth-child(6){
    margin-top: 41px;
    padding-left: 100px;
}
.main-bottom ul li:nth-child(6) input{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.main-bottom ul li:nth-child(6) i{
    margin-left: 11px;
    font-size: 12px;
    color: #4d4d4d;
    font-style: normal;
}
.main-bottom ul li:nth-child(6) a{
    margin-left: 11px;
    color: #1ba1a6;
}
.main-bottom ul li:nth-child(7) input{
    margin-left:100px;
    margin-top: 50px;
    width:201px;
    height:34px;
    background-color: #c81623;
    color: #fff;
}
.footer{
    margin-top: 20px;
    background-color: #fff;
}